@font-face {
  font-family: "StandardBook";
  src: url("./standard-book-webfont.ttf");
}

:root {
  /* colors */
  --black: #2c2c2c;
  /* layout */
  --mb1: 2.5rem;
}

body {
  margin: 0;
  padding: 0;
  transition-duration: 100ms;
  transition-timing-function: ease;
}

main {
  max-width: 750px;
  margin: 0 auto;
  padding: 2rem 0.61rem 0;
  font-family: StandardBook, sans-serif;
  color: var(--black);
  list-style-type: square;
}

fieldset {
  border: thin solid var(--black);
  margin-bottom: var(--mb1);
}

legend {
  outline: thin solid var(--black);
  padding: 0.25rem;
}

li {
  margin-bottom: 0.25rem;
}

section {
  margin-bottom: var(--mb1);
}

p {
  line-height: 1.54em;

}
u:not([class]),
a:not([class]) {
  color: currentColor;
  text-decoration: none;
  background-image: linear-gradient(transparent calc(100% - .05em), currentColor 2px);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 100% 100%;
  transition: background-size 300ms ease;
}

u:not([class]):hover,
a:not([class]):hover {
  animation: 500ms both ease underline
}

pre {
  margin: 0;
  padding: 0;
}

td {
  padding-right: 3rem;
}

footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-bottom: var(--mb1);
}

code {
  position: fixed;
  bottom: 0;
  left: 0;
}

code::before {
  content: "";
  position: absolute;
  height: 100%; 
  width: 100%;
}

[found] {
  display: none;
}

[hidden] {
  display: inline-block;
}

[hidden]:hover {
  display: none;
}

[hidden]:hover + [found] {
  display: inline-block;
}

@keyframes underline {
  0% {
    background-size: 100% 100%;
    background-position: right;
  }
  49% {
    background-size: 0% 100%;
    background-position: right;
  }
50% {
    background-size: 0% 100%;
    background-position: left;
  }
  100% {
    background-size: 100% 100%;
    background-position: left;
  }
}
